/*Page Basic Style*/
body {
    padding: 0px;
    margin: 0px
}
header {
    width: 100%
}
ul {
    list-style: none;
}

/*Navigation bar*/
#nav_bar {
    float: right;
}
#nav_bar li {
    display: inline-block;
    padding: 8px;
}