/*Page Basic Style*/
body {
    padding: 0px;
    margin: 0px
}
header {
    width: 100%
}
ul {
    list-style: none;
}

/*Navigation bar*/
#nav_bar {
    float: right;
}
#nav_bar li {
    display: inline-block;
    padding: 8px;
}
/*styling sign in button*/
#sign_in {
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}
#sign_in a {
    color: #ffffff;
}


