/*Page Basic Style*/
body {
    padding: 0px;
    margin: 0px
}
header {
    width: 100%
}
ul {
    list-style: none;
}

/*Navigation bar*/
#nav_bar {
    float: right;
}
#nav_bar li {
    display: inline-block;
    padding: 8px;
}
/*styling sign in button*/
#sign_in {
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}
#sign_in a {
    color: #ffffff;
}
.nav_links {
    color: #404040;
}
li a {
    text-decoration: none;
    color: inherit;
}

li.nav_links a:hover {
    text-decoration: underline;
}
#sign_in:hover {
    box-shadow: 1px 1px 5px #999999 ;
}


